<h1>New Code Snippet</h1>

<%= form_with(model: @snippet) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :language %>
    <%= form.text_field :language %>
  </div>

  <div>
    <%= form.label :code %>
    <%= form.text_area :code, rows: 10 %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :privacy %>
    <%= form.select :privacy, ['public', 'private', 'unlisted'] %>
  </div>

  <div>
    <%= form.label :tag_list, "Tags (comma-separated)" %>
    <%= form.text_field :tag_list %>
  </div>

  <div>
    <%= form.submit "Create Snippet" %>
  </div>
<% end %>

<%= link_to 'Back to Snippets', snippets_path %>