<!DOCTYPE html>
<html>
<head>
  <title>CodeSnippetShare</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark-dimmed.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</head>

<body>
  <<nav>
  <%= link_to 'Home', root_path %>
  <% if user_signed_in? %>
    <%= link_to 'New Snippet', new_snippet_path %>
    <%= link_to 'My Snippets', my_snippets_path %>
    <%= link_to 'Edit Account', edit_user_registration_path %>
    <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign Up', new_user_registration_path %>
    <%= link_to 'Log In', new_user_session_path %>
  <% end %>
</nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</body>
</html>